server:
  port: ${PORT:8080}

spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASS}

  jpa:
    hibernate:
      ddl-auto: validate

  flyway:
    enabled: true

app:
  jwt:
    secret: ${JWT_SECRET}
    ttlMinutes: 60
